RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=video-events
RABBITMQ_MAX_RETRIES=3
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=fiapx
MINIO_SECRET_KEY=fiapx12345
MINIO_USE_SSL=false
MINIO_BUCKET_RAW=videos-raw
MINIO_BUCKET_ZIPS=videos-zips
FRAME_RATE=1
